numpy<=1.24.3,>=1.22
protobuf>=3.20.3,<4.21.0,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev
typing-extensions<4.6.0,>=3.6.6
altair<5
streamlit<1.30,>=0.63
tensorflow==2.13.1
pandas
jinja2
pydeck
tornado
markdown-it-py
pygments
rich
blinker
toolz
packaging
importlib-resources
rpds-py
attrs
referencing
jsonschema
pillow
pyarrow
cachetools
toml
smmap
gitdb
gitpython
watchdog
charset-normalizer
idna
urllib3
requests
click
tenacity
h5py
termcolor
wrapt
google-pasta
flatbuffers
opt-einsum
libclang
grpcio
astunparse
gast
keras
tensorflow-estimator
absl-py
tensorflow-io-gcs-filesystem
oauthlib
requests-oauthlib
pyasn1
rsa
pyasn1-modules
google-auth
google-auth-oauthlib
tensorboard-data-server
werkzeug
markdown
tensorboard
tensorflow
pooch
soxr
lazy-loader
msgpack
threadpoolctl
scipy
joblib
scikit-learn
pycparser
cffi
soundfile
decorator
llvmlite
numba
audioread
librosa
audio-recorder-streamlit==0.0.9
